<!-- bank_choice.html -->

<meta charset="utf-8">
<style type="text/css">
@import "../../less/bootstrap.less";
@import "../../less/common.less";
@import "bank_choice.less";
</style>
<div class="payCenter">
	<div class="header">
		<span class="leftTag">北京[<a href="#">更换</a>]</span>
		<span class="tag">XXX, 欢迎进入ET <a href="#">登录</a> <a href="#">注册</a></span>
	</div>
	<div class="content">
		<div class="title"><img class="logo" src="k.png"/><span class="label">| 支付中心</span></div>
		<div class="bankTag"><label class="label">银行支付<label></div>
			<div class="bank">
				<ul>
					<li><div class="bg"><input class="radio" type="radio" ng-model="bank1" /><img src="k.png" /></div></li>
					<li><div class="bg"><input class="radio" type="radio" ng-model="bank2" /><img src="k.png" /></div></li>
					<li><div class="bg"><input class="radio" type="radio" ng-model="bank3" /><img src="k.png" /></div></li>
					<li><div class="bg"><input class="radio" type="radio" ng-model="bank4" /><img src="k.png" /></div></li>
					<li><div class="bg"><input class="radio" type="radio" ng-model="bank5" /><img src="k.png" /></div></li>
					<li><div class="bg"><input class="radio" type="radio" ng-model="bank6" /><img src="k.png" /></div></li>
				</ul>
			</div>
			<div class="button"><button class="pay">支付</button></div>
		</div>
	<div class="footer"><span>版权</span></div>
</div>