<!-- registe.html -->
<style type="text/css">
	@import "../../less/bootstrap.less";
	@import "../../less/common.less";
	@import "security.less";
</style>
<meta charset="utf-8">
<div class="security">
	<div class="header">
		<span class="tag">您好，欢迎来到ET! [<a href="#">主页</a>] [<a href="#/registe">免费注册</a>]</span>
	</div>
	<div class="content">
		<div class="title"><img class="logo" src="k.png"/><span>| 安全中心</span></div>
			<div class="detail">
				<span class="text">用户名:</span><span><input na-model="username" /></span>
				<span class="msg"><label ng-model="username_msg">用户名错误</label></span>
			</div>
			<div class="detail">
				<span class="text">注册手机号:</span><span><input ng-model="vertifycode" /><button class="vertifyBtn" ng-model="button_msgvitefy"><span class="vbtext">获取短信验证码</span></button></span>
			</div>
			<div class="detail">
				<span class="text">设置密码:</span><span><input na-model="password" /></span>
				<span class="msg"><label ng-model="password_msg">密码太简单</label></span>
			</div>
			<div class="detail">
				<span class="text">确认密码:</span><span><input na-model="password2" /></span>
				<span class="msg"><label ng-model="password2_msg">确认密码错误</label></span>
			</div>
			<div class="detail">
				<span class="text">短信验证码:</span><span><input na-model="phonenumber" /></span>
				<span class="msg"><label ng-model="phonenumber_msg">验证码错误</label></span>
			</div>
			<div class="button" /><button ng-model="login">修改密码</button></div>
	</div>
	<div class="footer"><span>版权</span></div>
</div>