<!-- rating-succrss.html -->
<div class="orderSuccess">
	<div class="header">
		<span class="leftTag">北京[<a href="#">更换</a>]</span>
		<span class="tag">{{userId}}, 欢迎进入ET <a href="#">登录</a> <a href="#">注册</a></span>
	</div>
    <div class="content">
		<div class="search">
			<img class="logo" src="K.png"/><div class="input" ><input ng-model="search"/><button>搜索</button></div>
		</div>
		<div class="title">订单成功</div>
		<div class="area1">
		  <div class="text"><label>订单编号:</label><span>{{orderNo}}</span></div>
		  <div class="text"><label>总价:</label><span>{{subPrice + fare | number:2}}</span></div>
			<div class="button"><button ng-click="viewOrder()">查看订单</button></div>
		</div>
		<div class="recomend">
			<ul>
				<li>
					<div class="item"><a><img ng-src="{{k.png}}" /><label>推荐1</label></a></div>
					<div class="item"><a><img ng-src="{{k.png}}" /><label>推荐2</label></a></div>
					<div class="item"><a><img ng-src="{{k.png}}" /><label>推荐3</label></a></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer">版权</div>
</div>