/*.orderView content */
.orderView .content .title {
	height: 40px;
	line-height: 40px;
	background-color: #FFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.orderView .content .area1 {
	display: inline-block;
	width: 900px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.orderView .content .logoImg {

}
.orderView .content .logoImg img {
	width: 120px;
	height: 40px;
	margin: 0px;
	padding: 0px;
}
.orderView .content .subtitle {
	display:inline-block;
	width: 90px;
	color:#C96;
	padding-left: 20px;
}
.orderView .content .toinlineBlock {
	display: inline-block;
	padding-right: 30px;
}
.orderView .content .paddingLeft40{
	padding-left: 40px;
}
.orderView .content .area1 .consigneeInfo {
	display: inline-block;
	width: 900px;
	margin-top: 20px;
	border-bottom: solid 1px black;
}
.orderView .content .area1 .consigneeInfo .infoList {
	width: 500px;
}
.orderView .content .area1 .payWay {
	clear: both;
	margin-top: 20px;
	border-bottom: solid 1px black;
}
.orderView .content .area1 .invoice {
	margin-top: 20px;
}
.orderView .content .area1 .invoice .zone1 {
	margin: 0 7px;
}
.orderView .content .area1 .invoice .zone2 {
	margin: 0 7px;
}
.orderView .content .area1 .invoice .zone1 div{
	margin: 7px;
}
.orderView .content .area1 .invoice .zone2 div{
	margin: 7px;
}
.orderView .content .area1 .consigneeInfo .opration {
	display:inline-block;
	margin-left: 20px;
}
.orderView .content .area1 .consigneeInfo .inputArea {
	float: right;
}
.orderView .content .area1 .consigneeInfo .inputArea .item {
	margin: 5px 0;
	width: 400px;
}

.orderView .content .area1 .consigneeInfo .inputArea .item .label {
	display: inline-block;
	width: 80px;
	text-align: right;
	padding-right: 10px;
}
.orderView .content .area1 .consigneeInfo .inputArea .addressSave {
	margin: 5px 0;
	text-align: right;
	margin-right: 90px;
}
.orderView .content .area1 .consigneeInfo .inputArea .addressSave .button{
	width: 50px;
	background-color: #CD665F;
	border: solid 1px #FFF;
	color: #FFF;
}
/* END area1*/
.orderView .content .hr {
	clear: both;
	background-color: #FFF;
	height: 3px;
	margin: 0;
	padding: 0;
}
.orderView .content .area2 {
	margin-top: 20px;
}

.orderView .content .area2 .back {
	float: right;
	margin-right: 20px;
}
/********** START.orderView tbl**********/
.orderView .content .area2 .table {
	clear: both;
	display: table;
	margin: 20px auto;
	border: solid 1px black;
}
.orderView .content .area2 .table .orderViews{
	display: inline-block;
}
.orderView .content .area2 .table .splid {
	margin-top: 3px;
}
.orderView .content .area2 .table ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: table-row;
}
.orderView .content .area2 .table li {
	display: table-cell;
	vertical-align: top;
	text-align: center;
	padding-top: 10px;
	border-top: solid 1px;
}
.orderView .content .area2 .table .tblHeader li {
	margin: 0;
	padding: 0;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	border-bottom: solid 1px;
	border-top: none;
	background-color: rgba(205, 156, 111, 0.5);
}
.orderView .content .area2 .table .col1 {
	width: 110px;
}
.orderView .content .area2 .table .col2 {
	width: 110px;
	padding-bottom: 5px;

}
.orderView .content .area2 .table .col3 {
	width: 220px;
}
.orderView .content .area2 .table .col4 {
	width: 110px;
}
.orderView .content .area2 .table .col5 {
	width: 110px;
}
.orderView .content .area2 .table .col6 {
	width: 180px;
	border-right: none;
}
.orderView .content .area2 .table .col2 img {
	width: 120px;
    height: 100px;
}
/********** END.orderView tbl ***********/
.orderView .content .area2 .subfooter {
	float: right;
	margin-right: 20px;
	text-align: right;
	margin-bottom: 20px;
}
.orderView .content .area2 .subfooter .subtotal {

}
.orderView .content .area2 .subfooter .fare {

}
.orderView .content .area2 .subfooter .total {

}
.orderView .content .area2 .button {
	background: #FFF;
}
.orderView .content .area2 .button .submit {
	float: right;
	width: 100px;
	height: 30px;
	border: solid 1px #FFF;
	color: #FFF;
	background-color: #CD665F;
}
.orderView .content .splidPage {
	margin-right: 50px;
	text-align: right;
}
.radio label, .checkbox label {
min-height: 20px;
padding-left: 7px;
margin-bottom: 0;
font-weight: normal;
cursor: pointer;
}
.error {
	color: red;
}