.shoppingCar .pageTitle {
	clear: both;
	/* width: 900px; */
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 30px;
}
.shoppingCar .pageTitle span{
	font-size: 2em;
}
.shoppingCar .menu_bar {
	width: 900px;
	border-right: solid 1px #47719B;
	background-color: #6095C9;
}
.shoppingCar .menu_bar .text {
	display: inline-block;
	height: 40px;
	width: 150px;
	text-align: center;
	line-height: 40px;
	border-right: solid 1px #47719B;
}
.shoppingCar .menu_bar .nav {
	display: inline-block;
	height: 40px;
	line-height: 40px;
}
.shoppingCar .main {
	clear: both;
	width: 900px;
}
.shoppingCar .main .producteList{
	width: 900px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	padding-top:5px; 
}
.shoppingCar .main .producteList {
	display: table;
	width: 900px;
	padding: 0;
	margin: 0 auto;
	border-top: solid 1px;
	border-bottom: solid 1px;
}
.shoppingCar .main .producteList ul{
	list-style-type: none;
	display: table-row;
	padding: 0;
	margin: 0;
}
.shoppingCar .main .producteList .tblHeader li{
	margin: 0;
	padding: 0;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: rgba(205, 156, 111, 0.5);
}

.shoppingCar .main .producteList li{
	display: table-cell;
	vertical-align: top;
	text-align: center;
	padding-top: 10px;
	border-top: solid 1px;
}
.shoppingCar .col1 {
	width: 100px;
}
.shoppingCar .col1 .checkbox {
	margin: 0 auto;
}
.shoppingCar .col2 {
	width: 110px;
}
.shoppingCar .col3 {
	width: 160px;
	padding-bottom: 5px;
}
.shoppingCar .col3 img {
	width: 120px;
	height: 100px;
}
.shoppingCar .col4 {
	width: 220px;
}
.shoppingCar .col5 {
	width: 110px;
}
.shoppingCar .col6 {
	width: 110px;
}
.shoppingCar .col6 .smallinput {
	width: 50px;
	text-align: center;
	font-size: 10px;
}
.shoppingCar .col7 {
	width: 90px;
}
.shoppingCar .main .totalPrices {
	clear: both;
	float: right;
	color: black;
	padding: 0;
	margin: 0;
}
.shoppingCar .main .totalPrices button{
	width: 100px;
	height: 30px;
	margin-top: 10px;
	margin-left: 75px;
	color: #F7FBEF;
	background-color: #CD665F;
	border: 1px solid #FFF;
}
.shoppingCar .main .smallButton1 {
	width: 50px;
	background-color: #CD665F;
	border: solid 1px #FFF;
	color: #FFF;
}
.shoppingCar .main .smallButton2 {
	width: 50px;
	background-color: #CD665F;
	border: solid 1px #FFF;
	color: #CD665F;
}

